# macOS
.DS_Store
**/.DS_Store

# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (optional if you don't want raw data on GitHub)
data/raw/

.venv/

__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
